[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow-sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
flask-jwt-extended = "*"
requests = "*"
flask-mpesa = "*"
psycopg2-binary = "*"
flask-cors = "*"
gunicorn = "*"
honcho = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
