@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: black;
  }

  .App {
    
    color: black;
  }
  .link-btn{
    background: none;
    color: white;
    text-decoration: underline;
  }
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 1px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  .auth-form, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
  .auth-form{
    padding: 5px;
    border: 2px solid rgb(236, 234, 227);
    border-radius: 10px;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }

  .search-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; 
    background-image: url('https://images.pexels.com/photos/5524336/pexels-photo-5524336.jpeg'); 
    background-size: 100%;
    background-position: center;
    background-attachment: scroll;
    height: 100vh;
    position: relative;
  }
    
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  }

  /* Add space between form elements */
 .form-group {
  margin: 10px; /* Adjust the margin as needed */
  }

  .form-group label {
    font-size: large;
    font-weight: bold;
    color: darkblue;
  }
  .material-symbols-outlined {
    font-size: large;
    font-weight: bold;
    color: darkblue; 
  }
  
  
  @media (max-width: 768px) {
    .search-form {
      flex-direction: column; /* Stack input and button vertically */
      align-items: stretch; /* Stretch input and button to full width */
    }
  
    .search-btn {
    background-color: rgb(14, 14, 13); 
    color: rgb(11, 11, 10); 
    border: 2px;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
  }  
  
  }